.page{
    background-color: #e2e2e2;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .form__container{
        width: 20vw;
        height: 80vh;
        border-radius: 60px;
        background-color: royalblue;
        display: flex;
        flex-direction: column;
        box-shadow: -11px 13px 14px -2px rgba(0,0,0,0.27);
        -webkit-box-shadow: -11px 13px 14px -2px rgba(0,0,0,0.27);
        -moz-box-shadow: -11px 13px 14px -2px rgba(0,0,0,0.27);
        .form__title{
            margin: 30px;
            text-align: center;
            color: white;
            text-transform: uppercase;
        }
        .form__form{
            flex-grow: 1;
            border-radius: 60px;
            padding: 40px;
            background-color: white;
            display: flex;
            flex-direction: column;
            align-items: center;
            .form__label{
                margin: 20px;
                width: 15vw;
                color: gray;
                position: relative;
                .form__input{
                    padding: 10px;
                    outline: none;
                    transition: 0.5s;
                }
                .input__text{
                    border: none;
                    border-bottom: 1px solid black;
                    width: 100%;
                    font-size: 1em;
                }
                .form__text{
                    position: absolute;
                    left: 0;
                    padding: 10px;
                    font-size: 1em;
                    pointer-events: none;
                    text-transform: uppercase;
                    transition: 0.5s;
                }
                .input__text:valid ~ span,
                .input__text:focus ~ span {
                    color: royalblue;
                    transform: translateX(15px) translateY(-7px);
                    font-size: 0.65em;
                    padding: 0 10px;
                    background-color: white;
                    border-left: 1px royalblue solid;
                    border-right: 1px royalblue solid;
                    letter-spacing: 0.2em;
                }

                .input__text:valid,
                .input__text:focus{
                    border-color: royalblue;
                }
            }
            .form__btn{
                width: 12vw;
                padding: 20px 30px;
                border-radius: 20px;
                background-color: royalblue;
                color: white;
                border: 1px solid white;
                margin-top: 150px;
                cursor: pointer;
                font-size: 1em;
                text-transform: uppercase;
                font-weight: bold;
                transition: 0.5s;
            }
        }
    };
    @media(orientation: portrait) and (min-width: 280px) {
        .form__container {
            width: 100vw;
            min-height: 100vh;
            border-radius: 0;
            .form__title{
                margin-top: 50px;
                font-size: 3.5em;
                padding: 20px;
            }
            .form__form{
                padding: 70px;
                border-bottom-left-radius: 0;
                border-bottom-right-radius: 0;
                .form__label{
                    width: 90%;
                    margin: 40px;
                    font-size: 3em;
                    .form__input{
                        padding: 30px;
                    }
                    .form__text{
                        padding: 30px;
                    }
                    input[type="file"] {
                        width: 100%;
                        font-size: 37px;
                        margin-top: 30px;
                    }
                    input[type="checkbox"] {
                        height: 35px;
                        width: 35px;
                    }
                }
                .form__btn{
                    width: 370px;
                    padding: 40px 60px;
                    font-size: 2em;
                    margin-top: 300px;
                }
            }
        }
    }
};